.product-cards-carousel {
  background-color: #131313;
  border-radius: 2rem;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-right: 20px;
}
.product-cards-carousel::-webkit-scrollbar { 
  display: none;
  }
